* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: 'Spartan', sans-serif;
}

:root {
    --very-dark-magenta: hsl(300, 43%, 22%);
    --soft-pink: hsl(333, 80%, 67%);
    --dark-grayish-magenta: hsl(303, 10%, 53%);
    --light-grayish-magenta: hsl(300, 24%, 96%);
}

main {
    background: url("../images/bg-pattern-bottom-desktop.svg");
    background-size: cover;
    background-repeat: no-repeat;
}

main .first-section .text-container h1 {
    margin-right: 4rem;
    font-size: 5rem;
    font-weight: 700;
    letter-spacing: -.2rem;
    line-height: 5.5rem;
    color: var(--very-dark-magenta);
}

main .first-section .text-container p {
    letter-spacing: -.5px;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 2.5rem;
    color: var(--dark-grayish-magenta);
}

.principal-description {
    margin-top: 3rem;
    margin-bottom: 3rem;
}


.first-section {
    background: url("../images/bg-pattern-top-desktop.svg");
    background-size: contain;
    background-repeat: no-repeat;
    padding-top: 20rem;
    padding-left: 13vw;
    padding-right: 13vw;
    display: grid;
    grid-template-columns: 1fr 62%;
}

.rating-boxes {
    display: block;
    margin-left: 18%;
}

@media only screen and (max-width: 1500px ) {
    .rating-boxes {
        margin-left: 12%;
    }
}

.star-box {
    background-color: var(--light-grayish-magenta);
    margin-top: 2rem;
    margin-bottom: 2rem;
    border-radius: .5rem;
    display: flex;
    align-items: center;
    padding: 2rem 10rem 2rem 5rem;
}

.star-box.first {
    margin-left: -8rem;
    margin-right: 8rem;
}

.star-box.second {
    margin-left: -4rem;
    margin-right: 4rem;
}


.stars {
    letter-spacing: .5rem;
}

.title-rated {
    margin-left: 4rem;
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--very-dark-magenta);
}

.second-section {
    padding-top: 4rem;
    padding-left: 13vw;
    padding-right: 13vw;
    color: var(--light-grayish-magenta);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 3rem;
}

.box-testimonial {
    background-color: var(--very-dark-magenta);
    padding-top: 4rem;
    padding-bottom: 4rem;
    padding-right: 3rem;
    padding-left: 3rem;
    border-radius: .5rem;
}

.person {
    display: grid;
    grid-template-columns: 6rem 1fr;
    align-items: center;
}

.box-testimonial.irene {
    margin-top: 2rem;
    margin-bottom: -2rem;
}

.box-testimonial.anne {
    margin-top: 4rem;
    margin-bottom: -4rem;
    
}

.profile-pic {
    border-radius: 50%;
    width: 4rem;
}

h2 {
    font-size: 1.5rem;
    font-weight: 600;
}

h3 {
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--soft-pink);
}

.testimonial {
    margin-top: 2rem;
    font-size: 1.3rem;
    line-height: 2.1rem;
}

.attribution {
    margin-top: 15rem;
    padding-bottom: 4rem;
    font-size: 1.1rem;
    text-align: center;
  }
  .attribution a {
    color: hsl(228, 45%, 44%);
  }